{% extends 'admin/base.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<main class="container">
    <header>
        <h1>Interface d'administration</h1>
    </header>
    <article class="admin-container">
        <section>
            <header>
                <h3>Médias</h3>
            </header>
            {# Inclusion du aside #}
            {% include "admin/partials/_aside.html.twig" %}
        </section>
        <section>
            <header>
                <h2>Détail d'un média</h2>
            </header>
            <br>
            <section class="container">
              {# Affichage de l'objet Article #}
              <section>
                <h4>Titre du média</h4>
                <p>{{image.mediaTitle}}</p>
                <h4>Contenu du média</h4>
                <p>{{image.mediaContent|raw}}</p>
                <h4>Lien URL du média</h4>
                <p><a href="{{image.urlLink}}" target="_blank">{{image.urlLink}}</a></p>
                <h4>Texte du lien</h4>
                <p>{{image.urlTitle}}</p>
                {# Affichage de l'image de couverture de l'objet Image #}
                {% if image.imageFile %}
                  <h4>Image de couverture</h4>
                    <figure>
                        <a href="{{asset('uploads/'~image.imageFile)}}" target="_blank"><img src="{{asset('uploads/'~ image.imageFile)}}" alt="image de couverture du média '{{image.mediaTitle}}'" class="mediumSizeImage"></a>
                    </figure>
                  <h4>Description de l'image</h4>
                  <p>{{image.caption}}</p>
                {% endif %}
                {# Affichage des objets Article associés à l'objet Image #}
                {% if articles|length != 0 %}
                  <h4>Articles associés au média</h4>
                  {% for article in articles %}
                    <ul>
                      <li><a href="{{path('app_admin_article_detail', {'slug':article.slug})}}">{{article.title}}</a></li>
                    </ul>
                  {% endfor %}
                {% endif %}
                {# Affichage des objets Product associés à l'objet Image #}
                {% if products|length != 0 %}
                  <h4>Services associés au média</h4>
                  {% for product in products %}
                    <ul>
                      <li><a href="{{path('app_admin_product_detail', {'slug':product.slug})}}">{{product.name}}</a></li>
                    </ul>
                  {% endfor %}
                {% endif %}
            </section>
            <section>
                <p><a href="{{path('app_admin_image_edit', {'slug':image.slug})}}"><i class="fas fa-pen"></i> Modifier le média</a></p>
                <p><a href="{{path('app_admin_image_index')}}"><i class="fas fa-backward"></i> Retour</a></p>
            </section>       
        </section>
    </article>
</main>
{% endblock %}