{% extends 'admin/base.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<main class="container">
    <header>
        <h1>Interface d'administration</h1>
    </header>
    <article class="admin-container">
        <section>
            <header>
                <h3>Images</h3>
            </header>
            {# Inclusion du aside #}
            {% include "admin/partials/_aside.html.twig" %}
        </section>
        <section>
            <header>
                <h2>Modification d'une image</h2>
            </header>
            <br>
                {# Affichage du fichier image de l'objet Image à modifier #}
                {% if image.imageFile %}
                    <figure>
                        <img src="{{asset('uploads/'~image.imageFile)}}" alt="{{image.caption}}">
                        <figcaption><small>{{image.name}}</small></figcaption>
                    </figure>
                {% endif %}
            <section>
                {# Formulaire de modification d'un objet Image #}
                {{form_start(formView)}}
                {{form_row(formView.name)}}
                {{form_row(formView.imageFile)}}
                {{form_row(formView.caption)}}
            </section>
            <section>
                <button type="submit">Modifier l'image</button>
                {{form_end(formView)}}
            </section>
            <br>
            <section>
                <p><a href="{{path('app_admin_image_index')}}"><i class="fas fa-backward"></i> Retour</a></p>
            </section>
        </section>
    </article>
</main>
{% endblock %}