{% extends 'admin/base.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<main>
    <header>
        <h1>Interface d'administration</h1>
    </header>
    <article class="container">
        <section>
            <header>
                <h3>Images</h3>
            </header>
            {# Inclusion du aside #}
            {% include "admin/partials/_aside.html.twig" %}
        </section>
        <section>
            <header>
                <h2>Liste des images</h2>
            </header>
            <br>
            <section>
                <p>Nombre d'images : <strong>{{imagesData|length}}</strong></p>
                {# Tableau des objets Image #}
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for image in images %}
                            <tr>
                                <td>{{image.name}}</td>
                                <td><a href="{{asset('uploads/'~image.imageFile)}}" target="_blank"><img src="{{asset('uploads/'~image.imageFile)}}" alt="{{image.caption}}" class="smallSizeImage"></a></td>
                                <td>{{image.caption}}</td>
                                {# Actions #}
                                <td>
                                    <a type="button" href="{{path('app_admin_image_edit', {'slug':image.slug})}}"><i class="fas fa-pen"></i> Modifier</a>
                                    <a type="button" href="{{path('app_admin_image_delete', {'slug':image.slug})}}" class="modal-trigger"  data-token="{{csrf_token('delete' ~ image.slug)}}" data-message="Confirmez-vous la suppression de l'image '{{image.name}}' ?" ><i class="fas fa-trash-alt"></i> Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                {# Pagination des objets image #}
                <section>
                    <nav class="pagination">
                        {{knp_pagination_render(images)}}
                    </nav>
                </section>
                <section>
                    <br>
                    <a href="{{path('app_admin_image_new')}}"><i class="fas fa-plus"></i> Ajouter une image</a>
                    <br>
                    <p><a href="{{path('app_admin_home')}}"><i class="fas fa-backward"></i> Retour</a></p>
                </section>
            </section>
        </section>
    </article>
</main>
{% endblock %}
