{% extends 'base.html.twig' %}

{% block title %}Accueil du site vitrine{% endblock %}

{% block body %}
<main class="container">
    <header>
        <h1>Bonjour <strong>{{app.user.firstname}}</strong> !</h1>
    </header>
    <article>
        <header>
            <h2>Bienvenue dans votre compte utilisateur</h2>
            <p>Cet espace vous permet de gérer les informations de votre compte</p>
            <br>
            <p>Vous disposez des rôles suivants :</p>
            <br>
            {% for role in app.user.roles %}
                {% if role == 'ROLE_USER' %}
                    <p><strong>Utilisateur</strong> - Vous êtes authentifié et pouvez accéder à votre compte</p>
                {% elseif role == 'ROLE_AUTHOR' %}
                    <p><strong>Auteur</strong> - Vous pouvez accéder à la gestion des articles dans le backoffice</p>
                {% elseif role == 'ROLE_ADMIN' %}
                    <p><strong>Administrateur </strong> - Vous avez accès à l'ensemble du contenu du site</p>
                {% endif %}
            {% endfor %}
            <br>
            <hr>
        </header>
        <section>
            <ul>
                <p><a href="{{path('app_account_update_password')}}"><i class="fas fa-key"></i> Modifier mon mot de passe</a></p>
                <p><a href="{{path('app_account_update_email')}}"><i class="fas fa-at"></i> Modifier mon email</a></p>
            </ul>
            <br>
            {% if is_granted('ROLE_ADMIN')%} 
                <p><a href="{{path('app_admin_home')}}"><i class="fas fa-backward"></i> Back-office</a></p>
            {% endif %}
            <p><a href="{{path('app_home')}}"><i class="fas fa-home"></i> Accueil du site</a></p>
        </section>
        <aside></aside>
    </article>
</main>
{% endblock %}
