{% extends "base.html.twig" %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<main class="container">
  <article>
    <header>
      <h1>Modification de votre mot de passe</h1>
    </header>
    {# Formulaire de modification du mot de passe #}
    <section>
      <p>Mes informations : </p>
      {{form_start(formView)}}
      {{form_row(formView.email)}}
      {{form_row(formView.firstname)}}
      {{form_row(formView.lastname)}}
      <br>
      <p>Utilisez le formulaire ci-dessous pour modifier le mot de passe de votre compte :</p>
      {{form_row(formView.old_password)}}
      {{form_row(formView.new_password)}}
      <br>
    </section>
    <section>
      <button type="submit">Modifier</button>
      {{form_end(formView)}}
    </section>
    <br>
    {# Lien vers la route de la page d'accueil du compte de l'utilisateur #}
    <section>
      <p><a href="{{path('app_account_home')}}"><i class="fas fa-backward"></i> Retour vers mon compte</a></p>
    </section>
  </article>
</main>
{% endblock %}