{% extends "base.html.twig" %}

{% block title %}Réinitialisation du mot de passe oublié{% endblock %}

{% block body %}
<main class="container">
  <article>
    <header>
      <h1>Réinitialisation de votre mot de passe</h1>
    </header>
    {# Formulaire de réinitialisation du mot de passe #}
    <section>
      <p><strong>{{user.firstname}}</strong>, merci de bien vouloir saisir un nouveau mot de passe : </p>
      {{form_start(formView)}}
      {{form_row(formView.new_password)}}
      <br>
    </section>
    <section>
      <button type="submit">Réinitialiser</button>
      {{form_end(formView)}}
    </section>
    <br>
    {# Lien vers la route du formulaire de login #}
    <section>
      <p><a href="{{path('app_login')}}"><i class="fas fa-backward"></i> Retour vers la page de connexion</a></p>
    </section>
  </article>
</main>
{% endblock %}