{% extends "base.html.twig" %}

{% block title %}Réinitialisation du mot de passe oublié{% endblock %}

{% block body %}
<main class="container">
  {% for hero in hero %}
    <section class="section-authentification-form">
      <div class="authentification-container">
        <div class="authentification-text-box">
          <header>
            <h1 class="heading-primary">Réinitialisation de votre mot de passe</h1>
          </header>
          <p class="authentification-text">
              {{user.firstname}}, merci de bien vouloir saisir un nouveau mot de passe : 
          </p>
          {# Formulaire de réinitialisation du mot de passe #}
          <section class="form-container">
            {{form_start(formView, {'attr' : {'class': 'authentification-form'}})}}
              <div class="form-row">
                {{form_row(formView.new_password)}}
              </div>
              <br>
              <button class="btn btn--form" type="submit">Réinitialiser</button>
            {{form_end(formView)}}
          </section>
          {# Lien de retour vers le formulaire de login #}
          <section>
            <ul class="authentification-nav-list">
              <li class="authentification-list">
                <ion-icon class="icon icon-secondary" name="play-back"></ion-icon>
                <span>
                    <a href="{{path('app_login')}}">Retour vers la page de connexion</a>
                </span>
              </li>
            </ul>
          </section>
        </div> 
        <div class="contact-cta-img-box" style="background-image:linear-gradient(to bottom, var(--gradient-main-tint), var(--gradient-main-lighter)), url({{asset('uploads/'~hero.masterImage)}})" role="img" aria-label="{{hero.masterImageDescription}}"></div>
      </div>
    </section>   
  {% endfor %}
</main>
{% endblock %}