{% extends 'base.html.twig' %}

{% block title %}{{metatag.title}}{% endblock %}
{% block metadescription %}
    <meta name="description" content="{{metatag.metaDescription}}">
{% endblock %}

{% block body %}
<main class="container">
    {# Section Hero #}
    <section class="section-hero">
        <div class="hero-container">
            <div class="hero-text-box">
                <h1 class="heading-primary">{{metatag.title}}</h1>
                <p class="hero-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, sunt voluptatem expedita voluptates amet corrupti nulla ratione ab illo ullam veniam facilis aliquid? Eaque, consequatur accusamus.</p>
                <a href="#" class="btn btn--full margin-right-sm">Bouton 1</a>
                <a href="#" class="btn btn--outline">Bouton 2 &darr;</a>
            </div>
            <div class="hero-img-box">
                <img src="{{asset("uploads/hubble_telescope6320a51b77c5e08ef5938ec7276206da.jpg")}}" alt="Télescope Hubble voyageant dans l'espace" class="hero-img .full-img">
            </div>
        </div>
    </section>
    {# Section articles à la une #}
    <section class="section-home-articles">
        <header class="container-grid">
            <span class="subheading">Actualités</span>
            <h2 class="heading-secondary">Nos dernières publications</h2>
        </header>
        {# Affichage des 3 premiers objets Articles à la une #}
        <section class="container-grid grid grid--2--cols grid--center-v">
            {# Article 1 #}
            <div class="article-text-box">
                <h3 class="heading-tertiary">{{articles[0].title}}</h3>
                <p class="article-date">Publié le {{articles[0].updatedAt|format_datetime(locale='fr', timezone='Europe/Paris')}}</p>
                {% if articles[0].categories|length != 0 %}
                    {% for category in articles[0].categories %}
                        <p><strong>{{category.name}}</strong></p>
                    {% endfor %}
                {% endif %}
                <p class="article-introduction">{{articles[0].shortIntroduction}}</p>
                <p class="article-more"><strong><a href="{{path('app_article_detail', {'slug':articles[0].slug})}}">Plus d'infos...</a></strong></p>
            </div>
            <div class="article-img-box">
                {% if articles[0].coverImage %}
                    <img src="{{asset('uploads/'~articles[0].coverImage)}}" alt="{{articles[0].title}}" class="article-img .full-img">
                {% endif %}
            </div>
            {# Article 2 #}
            <div class="article-img-box">
                {% if articles[1].coverImage %}
                    <img src="{{asset('uploads/'~articles[1].coverImage)}}" alt="{{articles[1].title}}" class="article-img .full-img">
                {% endif %}
            </div>
            <div class="article-text-box">
                <h3 class="heading-tertiary">{{articles[1].title}}</h3>
                <p class="article-date">Publié le {{articles[1].updatedAt|format_datetime(locale='fr', timezone='Europe/Paris')}}</p>
                {% if articles[1].categories|length != 0 %}
                    {% for category in articles[1].categories %}
                        <p><strong>{{category.name}}</strong></p>
                    {% endfor %}
                {% endif %}
                <p class="article-introduction">{{articles[1].shortIntroduction}}</p>
                <p class="article-more"><strong><a href="{{path('app_article_detail', {'slug':articles[1].slug})}}">Plus d'infos...</a></strong></p>
            </div>
            {# Article 3 #}
            <div class="article-text-box">
                <h3 class="heading-tertiary">{{articles[2].title}}</h3>
                <p class="article-date">Publié le {{articles[2].updatedAt|format_datetime(locale='fr', timezone='Europe/Paris')}}</p>
                {% if articles[2].categories|length != 0 %}
                    {% for category in articles[2].categories %}
                        <p><strong>{{category.name}}</strong></p>
                    {% endfor %}
                {% endif %}
                <p class="article-introduction">{{articles[2].shortIntroduction}}</p>
                <p class="article-more"><strong><a href="{{path('app_article_detail', {'slug':articles[2].slug})}}">Plus d'infos...</a></strong></p>
            </div>
            <div class="article-img-box">
                {% if articles[2].coverImage %}
                    <img src="{{asset('uploads/'~articles[2].coverImage)}}" alt="{{articles[2].title}}" class="article-img .full-img">
                {% endif %}
            </div>
        </section>
    </section>
    {# Section partenaires #}
    <section class="section-partners">
        <div class="container-partners">
            <h2 class="heading-partners">Nos partenaires</h2>
            <div class="partner-box grid grid--3--cols">
                {% for partner in partners %}
                    <div class="partner-item">
                        <p class="partner-name">{{partner.name}}</p>
                        <img src="{{asset('uploads/'~partner.coverImage)}}" alt="Logo du partenaire {{partner.name}}" class="md-img">
                        <p class="partner-short-description">{{partner.shortDescription}}</p>
                        <p class="partner-description">{{partner.description}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
