{# Footer #}
<footer class="main-footer">
{# Affichage du titre du site avec l'extension twig OrganizationExtension #}
      <p></strong>
        {% for organization_data in organization_datas.getOrganization %}
           Bienvenue sur le site de {{organization_data.organizationName}} ! &copy;<script type "text/javascript">document.write(new Date().getFullYear());</script></p>
        {% endfor %}
      <strong></p>
      {# Affichage du logo de l'organisation avec l'extension twig OrganizationExtension #}
      <a href="{{path('app_home')}}">
        {% for organization_data in organization_datas.getOrganization %}
          <img src="{{asset('uploads/'~ organization_data.logo)}}" alt="logo de l'organisation {{organization_data.organizationName}}" class="verySmallSizeImage">
        {% endfor %}
      </a>
  <a href="{{path('app_home')}}">Accueil</a>
  <a href="{{path('app_contact')}}">Nous contacter</a>
</footer>