{# Header #}
<header class="main-header">
  <nav>
    <section>
      {# Affichage du logo de l'organisation avec l'extension twig OrganizationExtension #}
      <a href="{{path('app_home')}}">
        {% for organization in organization.getOrganization %}
            <img src="{{asset('uploads/'~ organization.logo)}}" alt="logo de l'organisation {{organization.organizationName}}" class="smallSizeImage">
        {% endfor %}
      </a>
      {# Affichage du titre du site avec l'extension twig OrganizationExtension #}
      <strong class="site_title">
        {% for organization in organization.getOrganization %}
           {{organization.organizationName}} 
        {% endfor %}
      </strong>
      <a href="{{path('app_home')}}">Accueil</a>
      <a href="#">A propos</a>
      <a href="#">Services</a>
      <a href="#">Actualités</a>
      <a href="{{path('app_contact')}}">Contact</a>
    </section>
    <section>
      {# Affichage des liens en fonction du statut d'authentification de l'utilisateur #}
      {% if app.user %}
        <a href="{{path('app_logout')}}"><i class="fas fa-sign-out-alt"></i> Deconnection</a>
        <a href="{{path('app_account_home')}}"><i class="fas fa-user"></i> Mon compte</a>
      {% else %}
        <a href="{{path('app_login')}}"><i class="fas fa-sign-in-alt"></i> Connection</a>
      {% endif %}
        
      {# Accès aux pages d'administration si l'utilisateur a le rôle Admin #}
      {% if is_granted('ROLE_ADMIN')%} 
          <a href="{{path('app_admin_home')}}"><i class="fas fa-unlock"></i> Accéder au back-office</a>
      {% endif %}
    </section>
  </nav>
</header>