{# Aside #}
<aside>
  <nav>
    <section>
      <div>
        <p><a href="{{path('app_admin_home')}}"><i class="fas fa-home"></i> Accueil</a></p>
      </div>
      <div>
        <p><a href="{{path('app_admin_organization_index')}}"><i class="fas fa-building"></i> Organisation</a></p>
      </div>
      <div>
        <p><a href="{{path('app_admin_metatag_index')}}"><i class="fas fa-map"></i> Metatags</a></p>
      </div>
      <div>
        <p><a href="#"><i class="fas fa-sitemap"></i> Services</a></p>
      </div>
      <div>
        <p><a href="{{path('app_admin_article_index')}}"><i class="fas fa-newspaper"></i> Articles</a></p>
      </div>
      <div>
        <p><a href="{{path('app_admin_category_index')}}"><i class="fas fa-tasks"></i> Catégories</a></p>
      </div>
      <div>
        <p><a href="#"><i class="fas fa-handshake"></i> Partenaires</a></p>
      </div>
      <div>
        <p><a href="#"><i class="fas fa-users"></i> Collaborateurs</a></p>
      </div>
      <div>
        <p><a href="{{path('app_admin_contact_index')}}"><i class="fas fa-id-card-alt"></i> Messages</a></p>
      </div>
      <div>
        <p><a href="{{path('app_admin_image_index')}}"><i class="fas fa-images"></i> Images</a></p>
      </div>
      <div>
        <p><a href="{{path('app_admin_document_index')}}"><i class="fas fa-file"></i> Documents</a></p>
      </div>
      <div>
        <p><a href="#"><i class="fas fa-desktop"></i> Carrousel</a></p>
      </div>
      <div>
        <p><a href="{{path('app_account_home')}}"><i class="fas fa-user"></i> Mon compte</a></p>
      </div>
    </section>
    <section>
    <br>
    <section>
  </nav>
</aside>
