{# Aside #}
<aside>
  <nav>
    <header>
      <h3 class="heading-tertiary">Menu</h3>
    </header>
    <ul class="admin-nav-list">
      {% if is_granted('ROLE_AUTHOR')%}
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="home-outline"></ion-icon>
          <span><a href="{{path('app_admin_home')}}">Accueil</a></span>
        </li>
      {% endif %}
      {% if is_granted('ROLE_ADMIN')%}
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="business-outline"></ion-icon>
          <span><a href="{{path('app_admin_organization_index')}}">Organisation</span></a>
        </li>
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="camera-outline"></ion-icon>
          <span><a href="{{path('app_admin_hero_index')}}">Hero</span></a>
        </li>
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="rocket-outline"></ion-icon>
          <span><a href="{{path('app_admin_product_index')}}">Services</span></a>
        </li>
      {% endif %}
      {% if is_granted('ROLE_AUTHOR')%}
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="newspaper-outline"></ion-icon>
          <span><a href="{{path('app_admin_article_index')}}">Articles</span></a>
        </li>
        {% endif %}
      {% if is_granted('ROLE_ADMIN')%}
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="list-outline"></ion-icon>
          <span><a href="{{path('app_admin_category_index')}}">Catégories</span></a>
        </li>
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="person-outline"></ion-icon>
          <span><a href="{{path('app_admin_administrator_index')}}">Dirigeants</span></a>
        </li>
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="people-outline"></ion-icon>
          <span><a href="{{path('app_admin_collaborator_index')}}">Collaborateurs</span></a>
        </li>
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="thumbs-up-outline"></ion-icon>
          <span><a href="{{path('app_admin_partner_index')}}">Partenaires</span></a>
        </li>
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="mail-outline"></ion-icon>
          <span><a href="{{path('app_admin_contact_index')}}">Messages</span></a>
        </li>
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="document-outline"></ion-icon>
          <span><a href="{{path('app_admin_document_index')}}">Documents</span></a>
        </li>
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="image-outline"></ion-icon>
          <span><a href="{{path('app_admin_image_index')}}">Médias</span></a>
        </li>
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="tv-outline"></ion-icon>
          <span><a href="#">Carrousel</span></a>
        </li>
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="git-merge-outline"></ion-icon>
          <span><a href="{{path('app_admin_metatag_index')}}">Metatags</span></a>
        </li>
        <li class="admin-list">
          <ion-icon class="icon icon-admin" name="person-circle-outline"></ion-icon>
          <span><a href="{{path('app_admin_user_index')}}">Utilisateurs</span></a>
        </li>
      {% endif %}
    </ul>
  <nav>
</aside>
