{# Footer #}
<footer class="admin-footer">
  {# Affichage du titre du site avec l'extension twig OrganizationExtension #}
      <p>
        {% for organization in organization.getOrganization %}
           Bienvenue <strong>{{app.user.firstname}}</strong> sur l'interface d'administration du site de {{organization.organizationName}} ! &copy;<script type "text/javascript">document.write(new Date().getFullYear());</script></p>
        {% endfor %}
      </p>
      {# Affichage du logo de l'organisation avec l'extension twig OrganizationExtension #}
      <a href="{{path('app_home')}}">
        {% for organization in organization.getOrganization %}
          <img src="{{asset('uploads/'~ organization.logo)}}" alt="logo de l'organisation {{organization.organizationName}}" class="verySmallSizeImage">
        {% endfor %}
      </a>
</footer>