{% extends 'admin/base.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<main>
    <header>
        <h1>Interface d'administration</h1>
    </header>
    <article class="container">
        <section>
            <header>
                <h3>Metatags</h3>
            </header>
            {# Inclusion du aside #}
            {% include "admin/partials/_aside.html.twig" %}
        </section>
        <section>
            <header>
                <h2>Modification des informations de référencement de la page</h2>
            </header>
            <br>
            <section>
                {# Formulaire de modification d'un objet Metatag #}
                {{form_start(formView)}}
                {{form_row(formView.pageName)}}
                {{form_row(formView.title)}}
                {{form_row(formView.metaDescription)}}
            </section>
            <section>
                <button type="submit">Modifier les informations</button>
                {{form_end(formView)}}
            </section>
            <br>
            <section>
                <p><a href="{{path('app_admin_metatag_index')}}"><i class="fas fa-backward"></i> Retour</a></p>
            </section>
        </section>
    </article>
</main>
{% endblock %}