{% extends 'admin/base.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<main class="container">
    <header>
        <h1>Interface d'administration</h1>
    </header>
    <article class="admin-container">
        <section>
            <header>
                <h3>Metatags</h3>
            </header>
            {# Inclusion du aside #}
            {% include "admin/partials/_aside.html.twig" %}
        </section>
        <section>
            <header>
                <h2>Informations de référencement SEO des pages du site</h2>
            </header>
            <br>
            <section>
                {# Tableau des objets Metatags #}
                <table>
                    <thead>
                        <tr>
                            <th>Nom de la page</th>
                            <th>Titre de la page</th>
                            <th>Contenu de la balise metadescription de la page</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for metatag in metatags %}
                            <tr>
                                <td>{{metatag.pageName}}</td>
                                <td>{{metatag.title}}</td>
                                <td>{{metatag.metaDescription}}</td>
                                {# Actions #}
                                <td>
                                  <a type="button" href="{{path('app_admin_metatag_edit', {'id':metatag.id})}}"><i class="fas fa-pen"></i> Modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <section>
                    <p><a href="{{path('app_admin_home')}}"><i class="fas fa-backward"></i> Retour</a></p>
                </section>
            </section>
        </section>
    </article>
</main>
{% endblock %}
