{% extends 'base.html.twig' %}

{% block title %}{{metatag.title}}{% endblock %}
{% block metadescription %}
    <meta name="description" content="{{metatag.metaDescription}}">
{% endblock %}

{% block body %}
<main class="container">
    <header>
        <h1>{{metatag.title}}</h1>
    </header>
    <article>
        {# Affichage des objets Product #}
        <section>
            {% for product in products %}
                <section>
                    <h2>{{product.name}}</h2>
                    <p>Publié le {{product.updatedAt|format_datetime(locale='fr', timezone='Europe/Paris')}}</p>
                    <br>
                    {% if product.coverImage %}
                        <figure>
                            <a href="{{asset('uploads/'~product.coverImage)}}" target="_blank"><img src="{{asset('uploads/'~product.coverImage)}}" alt="{{product.name}}" class="largeSizeImage"></a>
                        </figure>
                    {% endif %}
                    <p>{{product.shortDescription}}</p>
                    <br>
                    <p><strong><a href="{{path('app_product_detail', {'slug':product.slug})}}">Plus d'infos...</a></strong></p>
                </section>
                <br>
            {% endfor %}
            <br>
            {# Pagination des objets Product #}
            <section>
                <nav class="pagination">
                    {{knp_pagination_render(products)}}
                </nav>
            </section>
        </section>
        
    </article>
</main>
{% endblock %}
