{% extends 'admin/base.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<main>
    <header>
        <h1>Interface d'administration</h1>
    </header>
    <article class="container">
        <section>
            <header>
                <h3>Catégories</h3>
            </header>
            {# Inclusion du aside #}
            {% include "admin/partials/_aside.html.twig" %}
        </section>
        <section>
            <header>
                <h2>Liste des catégories des articles</h2>
            </header>
            <br>
            <section>
                <p>Nombre de catégories : <strong>{{categoriesData|length}}</strong></p>
                {# Tableau des objets Category #}
                <table>
                    <thead>
                        <tr>
                            <th>Nom de la catégorie d'article</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{category.name}}</td>
                                {# Actions #}
                                <td>
                                    <a type="button" href="{{path('app_admin_category_edit', {'slug':category.slug})}}"><i class="fas fa-pen"></i> Modifier</a>
                                    <a type="button" href="{{path('app_admin_category_delete', {'slug':category.slug})}}" class="modal-trigger"  data-token="{{csrf_token('delete' ~ category.slug)}}" data-message="Confirmez-vous la suppression de la catégorie '{{category.name}}' ?" ><i class="fas fa-trash-alt"></i> Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                {# Pagination des objets category #}
                <section>
                    <nav class="pagination">
                        {{knp_pagination_render(categories)}}
                    </nav>
                </section>
                <section>
                    <br>
                    <a href="{{path('app_admin_category_new')}}"><i class="fas fa-plus"></i> Ajouter une catégorie</a>
                    <br>
                    <p><a href="{{path('app_admin_home')}}"><i class="fas fa-backward"></i> Retour</a></p>
                </section>
            </section>
        </section>
    </article>
</main>
{% endblock %}
