{% extends 'base.html.twig' %}

{% block title %}{{metatag.title}}{% endblock %}
{% block metadescription %}
    <meta name="description" content="{{metatag.metaDescription}}">
{% endblock %}

{% block body %}
<main>
    <header>
        <h1>{{metatag.title}}</h1>
    </header>
    <article>
        <header>
            <h2>Formulaire de contact</h2>
            <hr>
        </header>
        {# Formulaire de contact #}
        <section>
            {{form_start(formView)}}
            {# Champ Firstname #}
            {{form_label(formView.firstname)}}
            {{form_errors(formView.firstname)}}
            <br>
            {{form_widget(formView.firstname)}}
            <br>
            {# Champ Lastname #}
            {{form_label(formView.lastname)}}
            {{form_errors(formView.lastname)}}
            <br>
            {{form_widget(formView.lastname)}}
            <br>
            {# Champ Organization #}
            {{form_label(formView.organization)}}
            {{form_errors(formView.organization)}}
            <br>
            {{form_widget(formView.organization)}}
            <br>
            {# Champ Email #}
            {{form_label(formView.email)}}
            {{form_errors(formView.email)}}
            <br>
            {{form_widget(formView.email)}}
            <br>
            {# Champ Subject #}
            {{form_label(formView.subject)}}
            {{form_errors(formView.subject)}}
            <br>
            {{form_widget(formView.subject)}}
            <br>
            {# Champ Message #}
            {{form_label(formView.message)}}
            {{form_errors(formView.message)}}
            <br>
            {{form_widget(formView.message)}}
            <br>
            {# Champ RGPD #}
            {{form_errors(formView.isRgpd)}}
            {{form_widget(formView.isRgpd)}}
            {{form_label(formView.isRgpd)}}
            <small>{{form_help(formView.isRgpd)}}</small>
            <br>
        </section>
        <section>
            {# Bouton de soumission du formulaire #}
            <button type="submit">Envoyer</button>
            {# Fin du formulaire #}
            {{form_end(formView)}}
        </section>
        <aside></aside>
    </article>
</main>
{% endblock %}
