{% extends 'base.html.twig' %}

{# Appel du thème de formulaire personnalisé #}
{% form_theme formView _self %}

{% block title %}{{metatag.title}}{% endblock %}
{% block metadescription %}
    <meta name="description" content="{{metatag.metaDescription}}">
{% endblock %}

{% block body %}
<main>
    <header>
        <h1>{{metatag.title}}</h1>
    </header>
    <article>
        <header>
            <h2>Formulaire de contact</h2>
            <hr>
        </header>
        {# Formulaire de contact #}
        <section>
            {{form_start(formView)}}
            {# Champ Firstname #}
            {{form_row(formView.firstname)}}
            {# Champ Lastname #}
            {{form_row(formView.lastname)}}
            {# Champ Organization #}
            {{form_row(formView.organization)}}
            {# Champ Email #}
            {{form_row(formView.email)}}
            {# Champ Subject #}
            {{form_row(formView.subject)}}
            {# Champ Message #}
            {{form_row(formView.message)}}
            {# Champ RGPD #}
            <div>
                {{form_errors(formView.isRgpd)}}
                {{form_widget(formView.isRgpd)}}
                {{form_label(formView.isRgpd)}}
                <small>{{form_help(formView.isRgpd)}}</small>
                <br>
            </div>
        </section>
        <section>
            {# Bouton de soumission du formulaire #}
            <button type="submit">Envoyer</button>
            {# Fin du formulaire #}
            {{form_end(formView)}}
        </section>
        <aside></aside>
    </article>
</main>
{% endblock %}

{# Thème de formulaire personnalisé pour le champ form_row #}
{% block form_row %}
    <div>
        {{form_label(form)}}
        {{form_errors(form)}}
        <br>
        {{form_widget(form)}}
        <br>
        <small>{{form_help(form)}}</small>
    </div>
{% endblock %}
