{% extends 'admin/base.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<main>
    <header>
        <h1>Interface d'administration</h1>
    </header>
    <article class="container">
        <section>
            <header>
                <h3>Organisation</h3>
            </header>
            {# Inclusion du aside #}
            {% include "admin/partials/_aside.html.twig" %}
        </section>
        <section>
            <header>
                <h2>Mon organisation</h2>
                <p>Bienvenue dans l'espace dédié à votre organisation</p>
            </header>
            <br>
            <section class="container">
                {# Affichage des objets Organization #}
                {% for organization in organizations %}
                    <section>
                        <header>
                            <h3>{{organization.organizationName}}</h3>
                        </header>
                        <p><i class="fas fa-address-card"></i> Adresse : {{organization.address}} - {{organization.postal}} {{organization.city}} ({{organization.country|upper}})</p>
                        <p><i class="fas fa-phone"></i> Téléphone : {{organization.phone}}</p>
                        <p>{{organization.facebook}}</p>
                        <p>{{organization.instagram}}</p>
                        <p>{{organization.twitter}}</p>
                        <p><i class="fas fa-user"></i> Responsable : {{organization.administratorFirstname}} {{organization.administratorLastname}}</p>
                    </section>
                    <section>
                        {% if organization.logo %}
                            <figure>
                                <img src="{{asset('uploads/'~ organization.logo)}}" alt="logo de {{organization.organizationName}}" class="mediumSizeImage">
                            </figure>
                        {% endif %}
                        <p><strong>{{organization.siteTitle}}</strong></p>
                        <p>{{organization.shortDescription}}</p>
                        <p>{{organization.description|raw}}</p>
                    </section>
            </section>
            <section>
                <p><a href="{{path('app_admin_organization_edit', {'id':organization.id})}}"><i class="fas fa-pen"></i> Modifier mon organisation</a></p>
                <p><a href="{{path('app_admin_home')}}"><i class="fas fa-backward"></i> Retour</a></p>
            </section>
                {% endfor %}       
        </section>
    </article>
</main>
{% endblock %}
