{% extends 'admin/base.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<main class="container">
    <header>
        <h1>Interface d'administration</h1>
    </header>
    <article class="admin-container">
        <section>
            <header>
                <h3>Services</h3>
            </header>
            {# Inclusion du aside #}
            {% include "admin/partials/_aside.html.twig" %}
        </section>
        <section>
            <header>
                <h2>Détail d'un service</h2>
            </header>
            <br>
            <section class="container">
              {# Affichage de l'objet Service #}
              <section>
                <h4>Titre du service</h4>
                <p>{{product.name}}</p>
                <h4>Texte d'introduction</h4>
                <p>{{product.shortDescription}}</p>
                <h4>Contenu du service</h4>
                <p>{{product.description|raw}}</p>
                {# Affichage de l'image de couverture de l'objet Product #}
                {% if product.coverImage %}
                  <h4>Image de couverture</h4>
                    <figure>
                        <a href="{{asset('uploads/'~product.coverImage)}}" target="_blank"><img src="{{asset('uploads/'~ product.coverImage)}}" alt="image de couverture du service '{{product.name}}'" class="mediumSizeImage"></a>
                    </figure>
                {% endif %}
                {# Affichage des objets Document associés à l'objet Product #}
                {% if documents|length != 0 %}
                  <h4>Documents associés au service</h4>
                  {% for document in documents %}
                    <ul>
                      <li>
                        {{document.name}} : <a href="{{asset('uploads/'~document.documentFile)}}" target="_blank"><i class="fas fa-eye"></i> Afficher</a>
                      </li>
                    </ul>
                  {% endfor %}
                {% endif %}
                {# Affichage des objets Image associés à l'objet Product #}
                {% if images|length != 0 %}
                  <h4>Médias associés au service</h4>
                  {% for image in images %}
                    <ul>
                      <li>
                        <a href="{{path('app_admin_image_detail', {'slug':image.slug})}}">{{image.mediaTitle}}</a>
                      <figure>
                        <a href="{{path('app_admin_image_detail', {'slug':image.slug})}}"><img src="{{asset('uploads/'~image.imageFile)}}" alt="{{image.caption}}" class="smallSizeImage"></a>
                      </figure>
                      </li>
                    </ul>
                  {% endfor %}
                {% endif %}
              </section>
            </section>
            <section>
                <p><a href="{{path('app_admin_product_edit', {'slug':product.slug})}}"><i class="fas fa-pen"></i> Modifier le service</a></p>
                <p><a href="{{path('app_admin_product_index')}}"><i class="fas fa-backward"></i> Retour</a></p>
            </section>       
        </section>
    </article>
</main>
{% endblock %}