{% extends 'admin/base.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<main>
    <header>
        <h1>Interface d'administration</h1>
    </header>
    <article class="container">
        <section>
            <header>
                <h3>Articles</h3>
            </header>
            {# Inclusion du aside #}
            {% include "admin/partials/_aside.html.twig" %}
        </section>
        <section>
            <header>
                <h2>Détail d'un article</h2>
            </header>
            <br>
            <section class="container">
              {# Affichage de l'objet Article #}
              <section>
                <h4>Titre de l'article</h4>
                <p>{{article.title}}</p>
                <h4>Texte d'introduction</h4>
                <p>{{article.shortIntroduction}}</p>
                <h4>Contenu de l'article</h4>
                <p>{{article.content|raw}}</p>
                {# Affichage de l'image de couverture de l'objet Article#}
                {% if article.coverImage %}
                  <h4>Image de couverture</h4>
                    <figure>
                        <img src="{{asset('uploads/'~ article.coverImage)}}" alt="image de couverture de l'article '{{article.title}}'" class="mediumSizeImage">
                    </figure>
                {% endif %}
                {# Affichage des objets Category associés à l'objet Article #}
                {% if categories|length != 0 %}
                  <h4>Catégories associées à l'article</h4>
                  {% for category in categories %}
                    <ul>
                      <li>{{category.name}}</li>
                    </ul>
                  {% endfor %}
                {% endif %}
                {# Affichage des objets Document associés à l'objet Article #}
                {% if documents|length != 0 %}
                  <h4>Documents associés à l'article</h4>
                  {% for document in documents %}
                    <ul>
                      <li>
                        {{document.name}} : <a href="{{asset('uploads/'~document.documentFile)}}" target="_blank"><i class="fas fa-eye"></i> Afficher</a>
                      </li>
                    </ul>
                  {% endfor %}
                {% endif %}
                {# Affichage des objets Image associés à l'objet Article #}
                {% if images|length != 0 %}
                  <h4>Images associées à l'article</h4>
                  {% for image in images %}
                    <figure>
                      <img src="{{asset('uploads/'~image.imageFile)}}" alt="{{image.caption}}" class="smallSizeImage">
                      <figcaption><small>{{image.name}}</small></figcaption>
                    </figure>
                  {% endfor %}
                {% endif %}
              </section>
            </section>
            <section>
                <p><a href="{{path('app_admin_article_edit', {'slug':article.slug})}}"><i class="fas fa-pen"></i> Modifier l'article</a></p>
                <p><a href="{{path('app_admin_article_index')}}"><i class="fas fa-backward"></i> Retour</a></p>
            </section>
                    
        </section>
    </article>
</main>
{% endblock %}